// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$font-family: 'Montserrat', sans-serif;
$color-primary: #FF6060;
$black:#0000;
$margin-sides: 5%;
$padding-mobile: 20px;

body {
  margin: 0;
  min-height: 100%;
  font-family: $font-family;
  color: $color-primary;
}

main {
  margin-left: $margin-sides;
  margin-right: $margin-sides;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  
  @media (max-width: 767px) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}
