@import "../../index.scss";

.header{
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width:768px){
        padding: 20px;
        margin: 0 20px;
    }
}

.nav-header{
    display: flex;
    column-gap: 55px;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 12px;
        column-gap: 10px;
    }
}

a{
    text-decoration: none;
    color: black;

    &.active{
        text-decoration: underline;
    }

    @media(max-width:768px) {
        text-transform: uppercase;
    }
}

.logo {
    width: 130px;
    height: auto;
    
    @media (max-width: 768px) {
      height: 40px;
    }
  }