.cards{
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 55px 50px;
    margin-bottom: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

    @media(max-width:768px){
        padding: 0;
        grid-template-columns: 1fr;
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.housing{
    position: relative;
    border-radius: 10px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    transition: transform 0.2s;

    &:hover{
        transform: translateY(-2%) scale(1.1);
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    h2{
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #FFFFFF;
        margin: 20px;
    }

    @media(max-width:768px){
        height: 225px;
    }
}